.card {
    border: 1px solid rgb(202, 200, 200);
    text-align: center;
}

.theme-dark .card {
    border: 1px solid rgb(95, 95, 95);
    text-align: center;
}


.card img {
    width: 80%;
    margin-top: 20px;
}


.card h2 {
    font-size: 18px;

}


.card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.card button{
    margin-bottom: 20px;
    width: 80%;
    border-color: #ffffff;
}

.theme-dark .card button{
    margin-bottom: 20px;
    width: 80%;
    border-color: #1f1f1f;
    background-color: #666;
}