.Footer{
    display: flex;
    flex-direction: column;
    margin: -8px;
}

.theme-dark .Footer{
    display: flex;
    flex-direction: column;
    margin: -8px;
    background-color: grey;
}

.FOOT-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10%;
}

.RedBar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 19, 53);
    height: 30px;
    font-size: 15px;
    color: rgb(165, 165, 165);
}

.DH-Logo img{
    width: 200px;

}

.Redes {
    display: flex;

}

.Redes img{
    background-color: grey;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    padding: 5px;
}
