.favs-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -8px;
}

.theme-dark .favs-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -8px;
        background-color: rgb(147, 147, 147);
}
